@font-face {
    font-family: sofia pro;
    font-style: normal;
    font-weight: 400;
    src: local('Sofia Pro'), url('https://storage.acerapps.io/app-1374/sofia-pro-regular.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: sofia pro;
    font-style: italic;
    font-weight: 400;
    src: local('Sofia Pro'), url('https://storage.acerapps.io/app-1374/sofia-pro-regular-italic.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: sofia pro;
    font-style: normal;
    font-weight: 250;
    src: local('Sofia Pro'), url('https://storage.acerapps.io/app-1374/sofia-pro-extralight.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: sofia pro;
    font-style: normal;
    font-weight: 250;
    src: local('Sofia Pro'), url('https://storage.acerapps.io/app-1374/sofia-pro-extralight.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: sofia pro;
    font-style: italic;
    font-weight: 250;
    src: local('Sofia Pro'), url('https://storage.acerapps.io/app-1374/sofia-pro-extralight-italic.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: sofia pro;
    font-style: italic;
    font-weight: 250;
    src: local('Sofia Pro'), url('https://storage.acerapps.io/app-1374/sofia-pro-ultralight-italic.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: sofia pro;
    font-style: normal;
    font-weight: 300;
    src: local('Sofia Pro'), url('https://storage.acerapps.io/app-1374/sofia-pro-light.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: sofia pro;
    font-style: italic;
    font-weight: 300;
    src: local('Sofia Pro'), url('https://storage.acerapps.io/app-1374/sofia-pro-light-italic.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: sofia pro;
    font-style: normal;
    font-weight: 500;
    src: local('Sofia Pro'), url('https://storage.acerapps.io/app-1374/sofia-pro-medium.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: sofia pro;
    font-style: italic;
    font-weight: 500;
    src: local('Sofia Pro'), url('https://storage.acerapps.io/app-1374/sofia-pro-medium-italic.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: sofia pro;
    font-style: normal;
    font-weight: 600;
    src: local('Sofia Pro'), url('https://storage.acerapps.io/app-1374/sofia-pro-semi-bold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: sofia pro;
    font-style: italic;
    font-weight: 600;
    src: local('Sofia Pro'), url('https://storage.acerapps.io/app-1374/sofia-pro-semi-bold-italic.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: sofia pro;
    font-style: normal;
    font-weight: 700;
    src: local('Sofia Pro'), url('https://storage.acerapps.io/app-1374/sofia-pro-bold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: sofia pro;
    font-style: italic;
    font-weight: 700;
    src: local('Sofia Pro'), url('https://storage.acerapps.io/app-1374/sofia-pro-bold-italic.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: sofia pro;
    font-style: normal;
    font-weight: 900;
    src: local('Sofia Pro'), url('https://storage.acerapps.io/app-1374/sofia-pro-black.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: sofia pro;
    font-style: italic;
    font-weight: 900;
    src: local('Sofia Pro'), url('https://storage.acerapps.io/app-1374/sofia-pro-black-italic.woff') format('woff');
    font-display: swap;
}