@font-face {
    font-family: 'Gilroy Regular';
    src: url('https://storage.acerapps.io/app-1287/assets/fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: "normal";
}

@font-face {
    font-family: 'Gilroy Bold';
    src: url('https://storage.acerapps.io/app-1287/assets/fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Gilroy Medium';
    src: url('https://storage.acerapps.io/app-1287/assets/fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
}



/* GENERAL */
body {
    background-color: white;
    font-family: Gilroy-Regular, sans-serif;
}

html {
    scroll-behavior: smooth;
}

.section-title {
    text-align: center;
    margin: 0;
    padding: 2rem 0;
    font-weight: 700;
}

section {
    z-index: 2;
    position: relative;
    background-color: white;
}

.black-bg {
    background: linear-gradient(to right, #36383F, #181A22);
    color: white;
}

.soft-gray {
    color: #9fa0a3;
}

.gray-bg {
    background-color: #EFEEEE;
}

a {
    text-decoration: none !important;
    transition: .3s ease;
}

.sf-header,
.sf-footer,
.sd-header,
.sd-footer {
    display: none;
}

/* PAGE SCROLLBAR */
::-webkit-scrollbar {
    width: 10px;
    height: 3px;
}

::-webkit-scrollbar-track {
    background-color: rgba(204, 204, 204, 0.329);
}

::-webkit-scrollbar-thumb {
    background: #9e9e9e;
}

::-webkit-scrollbar-thumb:hover {
    background: #0F74FA;
}

/* HEADER */
#header {
    z-index: 10;
    background-color: white;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 0px 12px 0px #e1e1e1c2;
}

.header-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-container {
    max-width: 1350px;
    margin: 0 auto;
    padding: 1rem 15px;
}

.header-logo img {
    width: 200px;
    object-fit: scale-down;
}

.header-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.3rem;
}

.header-links a {
    color: #171921;
    transition: .3s ease;
    position: relative;
    overflow: hidden;
}

.header-links a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #0f74fa;
    bottom: -5px;
    left: -10%;
    transition: .3s ease;
    opacity: 0;
}

.header-links a:hover::after {
    opacity: 1;
    left: 0;
}



/* BANNER */
.banner {
    background: url(https://storage.acerapps.io/app-1358/images/search/sporsepetibanner.webp);
    z-index: 10;
    color: white;
    text-align: center;
    background-size: cover;
    position: relative;
}

.banner-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #00000036;
    z-index: -1;
}

.banner .container {
    padding: 2rem 0;
    min-height: 500px;
    height: 100%;
}

.banner-logo img {
    width: 180px;
    object-fit: scale-down;
}

.banner-container {
    max-width: 100%;
    margin: 0 auto;
    height: 100%;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.search {
    position: relative;
    margin-top: 2rem;
}

.search-cont {
    max-width: 620px;
    margin: 0 auto;
}

.search input {
    width: 100%;
    border-radius: 3rem;
    padding: 1.1rem 3.5rem;
    border: none;
    outline: none !important;
}

.search-icon {
    position: absolute;
    color: black;
    font-size: 1.7rem;
    top: 0.5rem;
    width: 40px;
    height: 40px;
}

.search-icon-left {
    left: 0.5rem;
}

.search-icon-right {
    right: 0.5rem;
}

.main-title {
    font-weight: 700;
    font-size: 3.4rem;
}

.banner-categories {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
    padding: 4rem 2rem;
    padding-bottom: 0.5rem;

    /*display: grid;*/
    /*grid-template-columns: repeat(5,1fr);*/
    /*grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));*/
    /*align-items: start;*/
    gap: 0.7rem;
}

.banner-category-img {
    padding: .5rem;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    margin-bottom: 0.2rem;
    transition: .3s ease;
    box-shadow: 0px 0px 0px 0px black;
    position: relative;
    overflow: hidden;
}

.banner-categories .banner-category-img::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}

.banner-category img {
    width: 40px;
    height: 40px;
    object-fit: scale-down;

}



.banner-category {
    width: 18%;
    display: block;
    color: white;
}

.banner-categories .banner-category:hover .banner-category-img::before {
    -webkit-animation: shine .75s;
    animation: shine .75s;
}

.blog-categories .banner-category-img img {
    /*filter: grayscale(100%) brightness(50%) saturate(0%);*/
    /*-webkit-filter: grayscale(100%) brightness(50%);*/
    /*-moz-filter: grayscale(100%) brightness(50%) saturate(0%);*/
    -webkit-filter: brightness(0);
    -moz-filter: brightness(0);
    filter: brightness(0);
    transition: .3s ease;
}

@-webkit-keyframes shine {
    100% {
        left: 125%
    }
}

@keyframes shine {
    100% {
        left: 125%
    }
}


.banner-category:hover {
    color: white !important;
}

.scrollPopular {
    position: relative;
    animation: topBottom 1s infinite ease-in-out;
}

@keyframes topBottom {
    0% {
        top: 0;
    }

    50% {
        top: .2rem;
    }

    100% {
        top: 0;
    }
}

/* POPÜLER BLOGLAR */
.popular-blogs {
    display: flex;
    justify-content: space-between;
}

.popular-blogs>div {
    width: 49%;
}

.popular-blog {
    border-radius: 0.6rem;
    box-shadow: 0px 0px 12px 0px #e1e1e1c2;
    overflow: hidden;
}

.popular-blog-infos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.popular-blog-content {
    padding: 1rem;
}

.popular-blog-category {
    color: #0F74FA;
    border: 1px solid #0F74FA;
    padding: 0.3rem 0.7rem;
    border-radius: 0.7rem;
    font-size: .9rem;
}

.popular-blog h3,
.blog-body h3 {
    font-size: 1.2rem;
    font-weight: 700;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 46px;
}

.blog-btn {
    color: white !important;
    background: linear-gradient(to right, #0F74FA, #329FF2);
    padding: 0.6rem 1rem;
    display: inline-block;
    border-radius: 0.4rem;
    border: none;
    outline: none !important;
    cursor: pointer;

}

.blog-card .blog-btn {
    position: absolute;
    bottom: 1rem;
}

.classic-btn {
    background-color: #0F74FA;
    border: 1px solid #0F74FA;
    color: white;
    padding: 0.6rem 1rem;
    border-radius: .4rem;
    transition: .3s ease;
    display: block;
}

.classic-btn:hover {
    background-color: white;
    color: #0F74FA;
}

.popular-blog img {
    width: 100%;
    object-fit: cover;
}

.popular-blog-big img {
    height: 220px;
}

.popular-blog-big p {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 48px;
}

.popular-blog-small {
    display: flex;

}

.popular-blog-small img {
    width: 180px;
    height: 100%;
}

.popular-blog-smalls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.popular-blog-content-sm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

/* TÜM YAZILAR */
.blog-category-list {
    display: flex;
    justify-content: space-between;
}

.all-blog-category {
    width: 14%;
    display: inline-block;
    border-right: 2px solid #EDEDED;
}

.blog-categories {
    display: inline;
    width: 84%;
}

.blog-categories {
    position: relative;
}

.blog-category-img img {
    width: 60px;
    height: 60px;
    object-fit: scale-down;
    margin: 0 auto;
    transition: .2s ease;
}

.blog-categories .slick-arrow {
    position: absolute;
    top: 33%;
    color: rgb(0, 0, 0);
    z-index: 1;
    cursor: pointer;
    font-size: 1.5rem;
}

.blog-categories .icon-right-big {
    right: -1rem;
}

.blog-categories .icon-left-big {
    left: -1rem;
    left: -21%;
}

.blog-categories .slick-arrow:not(.slick-disabled) {
    color: #00b2ff;
}


.blog-category {
    text-align: center;
    cursor: pointer;
}

.blog-category img {
    width: 40px;
    height: 40px;
    object-fit: scale-down;
}

.blog-category p {
    font-size: 1.2rem;
    margin: 0;
}

.active-category,
.blog-categories .blog-category:hover {
    /*color: #0F74FA;*/
    /* color: #005CF8; */
    color: #00B2FF;
}

.active-category img,
.blog-categories .blog-category:hover img {
    /*filter: invert(20%) sepia(100%) saturate(1300%) hue-rotate(180deg) brightness(115%) contrast(135%);*/
    /*filter: invert(30%) sepia(1710%) saturate(750%) hue-rotate(260deg) brightness(115%) contrast(135%)!important;*/
    /* filter: invert(60%) sepia(1300%) saturate(10290%) hue-rotate(205deg) brightness(115%) contrast(135%) !important; */
    filter: invert(60%) sepia(1300%) saturate(6590%) hue-rotate(201deg) brightness(145%) contrast(135%) !important;
}

/* TÜM BLOG KARTLARI */
.blog-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 3rem;
    gap: 1.5rem;

}


.blog-card {
    width: 100%;
    position: relative;
}

.blog-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: .6rem .6rem 0rem 0rem;
}

.blog-body {
    box-shadow: 0px 0px 12px 0px #e1e1e1c2;
    border-radius: 0 0 .6rem .6rem;
    padding: 1rem;
    height: 235px;
    background: white;
}

.blog-body p {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 48px;
}

/* HABER BÜLTENİ */
.news-bg {
    background-color: #171921;
    padding: 4rem 0;
    z-index: 1;
    position: relative;
}

.newsletter-container {
    display: flex;
    justify-content: end;

}

.newsletter-container>div {
    width: 48%;
}

.newsletter-content {
    width: 48%;
    position: absolute;
    /* text-align: end; */
}

.form-container {
    background-color: white;
    border-radius: 0.5rem;
    padding: 1.5rem;
    position: relative;
    z-index: 1;
}

.just-validate-error-label {
    position: absolute;
    left: 5px;
    bottom: -20px;
    font-size: 14px;
}

.newsletter-container::before {
    content: "";
    background-image: url(https://storage.acerapps.io/app-1287/assets/blue-circle.png);
    width: 180px;
    height: 100%;
    background-size: contain;
    position: absolute;
    top: 0rem;
    background-repeat: no-repeat;
    right: 20rem;
    z-index: 0;
}

.form,
.form .acerapps-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.6rem;
}

.form input[type="text"],
.form select {
    width: 100%;
    -webkit-appearance: none;
    -webkit-box-shadow: 0px 0px 12px 0px #e1e1e1c2;
    box-shadow: 0px 0px 12px 0px #e1e1e1c2;
    border: none;
    outline: none !important;
    border-radius: .5rem;
    padding: .75rem .75rem;
}

.form>div {
    width: 100%;
}

.form .halfInput {
    width: 46%;
    --col: 46% !important;
}

/* CUSTOM CHECKBOX */
.checkboxContainer input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;

}

.checkboxContainer label {
    position: relative;
    cursor: pointer;
    color: #606060;
}

.checkboxContainer label:before {
    content: '';
    -webkit-appearance: none;
    border: 3px solid #0F74FA;
    padding: 7px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
    bottom: 1px;
}


.checkboxContainer.checkedInput label:after {
    content: '';
    display: block;
    position: absolute;
    top: 5.2px;
    left: 7px;
    width: 6px;
    height: 10px;
    border: solid #0F74FA;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.checkboxContainer {
    display: flex !important;
    flex-direction: row-reverse !important;
    justify-content: start;
    gap: 0.5rem;
    align-items: center;

}

.checkboxContainer a {
    color: #171921;
}

.checkboxContainer input {
    width: auto !important;
}

.checkboxContainer label {
    margin: 0;
}

/* MODAL */

.modall {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: #6c6c6c61;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 112;
}

.modall.activeModal {
    display: flex;
}

.modalContainer {
    max-width: 900px;
    max-height: 700px;
    background-color: white;
    padding: 1.5rem;
    margin: 1rem;
    border-radius: 0.7rem;
}

.detailTitle {
    padding: .5rem 1rem;
    text-align: center;
    padding-bottom: 1rem;
}

.detailTitle h2 {
    margin: 0;
}

.detailContents {
    display: flex;
    /*margin: 2rem 0;*/
    justify-content: space-between;
    height: 420px;
    overflow: auto;
}



.detailInfos {
    width: 30%;
    border: 1px solid #E8E8E8;
    padding: .5rem 1rem;
}

.detailContent {
    width: 67%;
    border: 1px solid #E8E8E8;
    padding: 1rem;
    height: 100%;
    overflow: auto;
}

.detailInfos>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .1rem;
    cursor: pointer;
    padding: .5rem 0;
    font-size: 15px;

}

.text-right {
    text-align: right;
}


.detailContent>div {
    height: 100%;
    overflow: auto;
}

.detailContent>div:not(.activeDetail) {
    opacity: 0;
    visibility: hidden;
    height: 0;
}

.left-stick-bg {
    background: linear-gradient(to left, #0F74FA, #329FF2);
    padding: 1rem 2rem;
    text-align: end;
    border-radius: 0 3rem 3rem 0;
    margin-bottom: 1.5rem;
}

.left-stick-bg h2 {
    font-weight: 700;
    margin: 0;
}

.newsletter-text {
    margin-left: auto;
    max-width: 520px;
}

.newsletter-text h3 {
    font-weight: 700;
    font-size: 1.9rem;
}

.newsletter-desc {
    font-size: .9rem;
    margin-top: 1rem;
}

/* FOOTER */
.footer {
    padding: 4rem 0;
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.socials {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.socials a {
    color: #171921;
    font-size: 1.8rem;
    transition: .3s ease;
}

.socials a:hover {
    color: #0F74FA;
}

.footer-logo {
    margin-bottom: 1rem;
}

#footer2 {
    height: 340px;
}


/* BLOG DETAY */
.page-banner {
    padding: 3rem 0;
    overflow: hidden;
    padding-top: 3.5rem;
}

.page-banner-container {
    display: flex;
    justify-content: space-between;
}

.page-banner-content {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page-banner-img {
    width: 50%;
    position: relative;
}

.page-banner-img img {
    width: 100%;
    height: 290px;
    object-fit: cover;
    border-radius: 1rem;
}

.page-banner-img::before {
    content: "";
    position: absolute;
    width: 148%;
    height: 100%;
    background-color: #0F74FA;
    z-index: -2;
    right: -61%;
    top: -1.4rem;
    border-radius: 1rem;

}

.page-breadcrumb {
    margin-top: .5rem;
}

.page-breadcrumb a {
    color: white;
    transition: .3s ease;
}

.page-breadcrumb a:hover {
    color: #0F74FA;
}

.page-breadcrumb span {
    color: #9FA0A3;
}

/* BLOG DETAY CONTENT */
.blog-detail {
    padding: 2rem 0;
}

.blog-filter-group {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    position: sticky;
    top: 7rem;
}

.blog-filter-group h2 {
    font-weight: normal;
    font-size: 1.2rem;
    color: #171921;
}

.category-title-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*margin-bottom: 1rem;*/
}

.categories-group {
    display: none;
}

.show-categories {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.2rem;
    transition: .3s ease;
}

.openCat {
    cursor: pointer;
}

.categories {
    display: flex;
    flex-direction: column;
    height: 190px;
    overflow: auto;
    margin-top: 1rem;
}


.categories a {
    padding: .5rem 0;
    margin: 0 1rem;
    color: #7E7E7E;
    border-bottom: 1px solid #F5F5F5;
    transition: .3s ease;
}

.categories a:hover {
    color: #0F74FA;
}

.categories::-webkit-scrollbar {
    width: 8px;
    height: 3px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

.categories::-webkit-scrollbar-thumb {
    background: #EDEDED;
    border-radius: 1rem;
}

.categories::-webkit-scrollbar-thumb:hover {
    background: #0F74FA;
}

.turn-180 {
    transform: rotate(180deg);
}

.blog-socail-links {
    display: flex;
    gap: 1.2rem;
}

.blog-socail-links a {
    color: #B7B7B7;
    font-size: 1.4rem;
    transition: .3s ease;
}

.blog-socail-links a:hover {
    color: #0F74FA;
}

.blog-content-cat {
    box-shadow: 0px 0px 12px 0px #e1e1e1c2;
    border-radius: 1rem;

}

.blog-content-cat .openCat {
    padding: .5rem 1.5rem;
    padding-top: 1rem;
}

.blog-ingredients {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}

.blog-ingredients a {
    padding: .5rem 1.5rem;
    color: #171921;
    transition: none;
}

.blog-ingredients a:hover {
    background-color: #e2eeff;
    color: #0f74fa;
}

/*.active-ingredient {*/
/*    background-color: #E2EEFF;*/
/*    color: #0F74FA !important;*/
/*}*/


.blog-detail-content img {
    width: 100%;
}

.related-blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    padding-bottom: 2rem;
}

.whiteLogo {
    display: none;
}

.clear-header {
    display: none;
}

.header-burger {
    display: none;
}

.mobile-header {
    display: none;
}

/* ARAMA */
.search-results-container {
    margin-top: 2rem;
    /*padding: 2rem;*/
    border-radius: 1rem;
    background: white;
    overflow: hidden;
}

.search-loading img {
    width: 200px;
}


.error {
    color: #000;
    font-weight: bold;
    padding: 1rem;
    display: block;
    text-align: center;
}

.search-results {
    text-align: start;
}

.search-results a {
    color: black;
    display: block;
    transition: .3s ease;
    padding: 0.7rem 1rem;

}

.search-results a:hover {
    background: #E2EEFF;
    color: #1447DE;
}

.blogNotFound {
    text-align: center;
    font-weight: bold;
    display: none;
}

/* PAGINATION */

.pagination-items {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

/*.page {*/
/*    border-radius: 50%;*/
/*    background: #0F74FA;*/
/*    width: 40px;*/
/*    height: 40px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    color: white;*/
/*}*/

.page {
    border-radius: 50%;
    background: white;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #171921;
    box-shadow: 0 0 6px 0 #d7d7d7c2;
    font-weight: 600;
    transition: .3s ease;
}

.page.active,
.page:hover:not(.active) {
    background: #0F74FA;
    box-shadow: 0;
    color: white;
}

.content-3 {
    padding-left: 2.5rem !important;
}

.content-4 {
    padding-left: 3rem !important;
}

.content-5 {
    padding-left: 3.5rem !important;
}

.content-6 {
    padding-left: 4rem !important;
}




@media screen and (min-width:992px) {
    .blog-content-cat .show-categories {
        display: none;
    }

    .blog-content-cat .categories-group {
        display: block;
    }
}

@media screen and (max-width:1200px) {
    .newsletter-text {
        max-width: 440px;
    }

    .form .halfInput {
        width: 100%;
        --col: 100% !important;
    }
}

@media screen and (max-width:992px) {
    .footer-logo {
        width: 200px;
    }

    .search-cont {
        max-width: 500px;
    }

    /* HEADER */
    .header-btn {
        display: none;
    }

    .header-links {
        display: none;
    }

    .header-items {
        justify-content: space-between;
    }

    .whiteLogo {
        display: block;
    }

    .blackLogo {
        display: none;
    }

    .page-banner {
        padding-top: 1.5rem;
    }

    .clear-header {
        display: block;
    }

    .header-burger {
        color: white;
        border-color: transparent;
        outline: none !important;
        position: relative;
        width: 35px;
        height: 35px;
        padding: 0;
        text-align: center;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: .3s ease;
    }

    .burger-icon {
        display: block;
        width: 2rem;
        height: 3px;
        border-radius: 1rem;
        background: rgb(0, 0, 0);
        transition: 0.3s ease;
    }

    .burger-icon::before,
    .burger-icon::after {
        content: "";
        width: 2rem;
        height: 3px;
        border-radius: 1rem;
        background: rgb(0, 0, 0);
        position: absolute;
        transition: 0.3s ease;
        left: 0;
    }

    .burger-icon::before {
        top: 1.6rem;
    }

    .burger-icon::after {
        bottom: 1.6rem;
    }


    .header-burger.active .burger-icon {
        background-color: transparent;
    }

    .header-burger.active .burger-icon::before {
        transform: rotateZ(-45deg) scaleX(1.25) translate(3.5px, -3.5px);
    }

    .header-burger.active .burger-icon::after {
        transform: rotateZ(45deg) scaleX(1.25) translate(6.5px, 7.5px);
    }

    .mobile-header {
        position: fixed;
        z-index: 10;
        width: 100%;
        top: 80px;
        left: 0;
        background: #36383f61;
    }

    .mobile-header.active {
        display: block;
    }

    .mobile-header-menu {
        background: white;
        padding: 1rem;
        height: 100%;
        width: 100%;
        display: inline-block;
        box-shadow: 0 5px 6px -2px #8989891f;
    }

    .mobile-links a {
        display: block;
        padding: .5rem 0;
        color: #171921;
    }

    .mobile-header-btn {
        display: block;
        text-align: center;
        margin-top: 2rem;
    }

    .mobile-header .burger-icon::before,
    .mobile-header .burger-icon::after {
        background-color: #171921;
    }

    .mobile-header .burger-icon {
        background-color: #171921;
    }

    .mobile-close-group {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width: 270px;
        margin-bottom: 2rem;
    }

    .popular-blogs {
        flex-direction: column;
        gap: 1rem;
    }

    .popular-blogs>div {
        width: 100%;
    }

    .popular-blog-smalls {
        gap: 1rem;
    }

    .popular-blog-small img {
        width: 250px;
    }

    .blog-cards,
    .related-blogs {
        grid-template-columns: repeat(2, 1fr);
    }


    .newsletter-content {
        position: relative;
        width: 100%;
    }

    .newsletter-container>div {
        width: 100%;
    }

    .newsletter-container::before {
        content: none;
    }

    .newsletter-text {
        max-width: 720px;
        margin: 0 auto;
        padding: 0 15px;
    }

    .left-stick-bg {
        display: inline-block;
        padding-left: 6rem;
    }

    /* BLOG DETAY */
    .page-banner-container {
        flex-direction: column;
    }

    .page-banner-content {
        width: 100%;
    }

    .page-banner-img {
        width: 100%;
        margin-top: 3rem;
    }

    .page-banner-img::before {
        left: 1rem;
        right: 1rem;
        width: auto;
        top: -0.8rem;
    }


    .blog-categories {
        width: 80%;
    }

    .all-blog-category {
        width: 20%;
    }

    .blog-categories .icon-left-big {
        left: -28%;
    }
}

@media screen and (min-width:768px) {

    .active-ingredient {
        background-color: #e2eeff;
        color: #0f74fa !important;
    }
}

@media screen and (max-width:768px) {
    .main-title {
        font-size: 2.9rem;
    }

    .banner-category {
        width: 23%;
    }

    .banner .container {
        min-height: 840px;
    }

    .blog-cards,
    .related-blogs {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .newsletter-text {
        max-width: 540px;
    }

    .left-stick-bg {
        padding-left: 7.5rem;
    }


}



@media screen and (max-width:576px) {
    .main-title {
        font-size: 2.9rem;
    }

    .banner-categories {
        padding: 2rem 1rem;
        padding-bottom: 0;
    }

    .popular-blog-small {
        display: flex;
        flex-direction: column;
    }

    .popular-blog-small img {
        height: 150px;
        width: 100%;
    }

    .blog-cards,
    .related-blogs {
        grid-template-columns: repeat(1, 1fr);
        gap: 1.5rem;
    }

    .blog-card img {
        height: 200px;
    }

    .blog-categories .icon-left-big {
        left: 0rem;
    }

    .blog-categories .icon-right-big {
        right: 0rem;
    }

    .left-stick-bg {
        padding-left: 15px;
        text-align: start;
    }

    .page-banner-img img {
        height: 200px;
    }



}

@media screen and (max-width:480px) {

    .burger-icon::before,
    .burger-icon::after {
        left: 6.4px;
    }

    .branch-menu-icon {
        width: 40px;
        height: 40px;
    }


    .header-logo img {
        width: 160px;
    }

    .banner-logo {
        margin: 0;
        margin-bottom: 0.5rem;
    }


    .left-stick-bg h2 {
        font-size: 1.25rem;
    }

    .newsletter-text h3 {
        font-size: 1.5rem;
    }

    .subs-head h3 {
        font-size: 1.1rem;
    }

    .search-icon-left {
        left: 0.1rem;
    }

    .search-icon {
        top: 0.1rem;
    }

    .search input {
        padding: 0.7rem 2.8rem;
    }

    .blog-categories {
        width: 71%;
        padding: 0 0.5rem;
    }

    .all-blog-category {
        width: 29%;
    }

    .main-title {
        font-size: 1.5rem;
        margin: 0;
    }

    .banner-content p {
        margin: 0;
    }

    .section-title {
        font-size: 1.6rem;
    }

    .popular-blog-big img {
        height: 185px;
    }

    .popular-blog-small img {
        height: 185px;
        width: 100%;
    }


    .banner-category {
        width: 22%;
    }

    .banner-categories {
        padding: 1.8rem 0;
        padding-bottom: 0;
        gap: 0.5rem 0.5rem;
    }

    .search {
        margin-top: 1.5rem;
    }

    .banner-category-img {
        width: 55px;
        height: 55px;
    }

    .banner-category img {
        width: 25px;
        height: 25px;
    }

    .banner .container {
        min-height: 700px;
    }

    .blog-category p {
        font-size: 0.9rem;
    }

    .news-bg {
        padding: 2rem 0;
    }

    .form-container {
        padding: 0.75rem 0.75rem;
    }

    .modalContainer {
        padding: 0.5rem;
        margin: 1rem;
    }

    .detailContents {
        height: 250px;
    }

    .detailTitle h2 {
        font-size: 1.3rem;
    }

    .detailTitle {
        padding-bottom: 0.5rem;
    }

    #footer2 {
        height: 315px;
    }

    .socials a {
        font-size: 1.5rem;
    }
}